
/Workshop1/_ngo
/Workshop1/_xmsgs
Workshop1/displaydec.bgn
Workshop1/DisplayDec.bld
Workshop1/DisplayDec.cmd_log
Workshop1/displaydec.bit
Workshop1/displaydec.drc
/Workshop1/xst/work/sub00
/Workshop1/xst
/Workshop1/xlnx_auto_0_xdb
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.mem
*.xreport
*.bgn
*.bit
*.bld
*.drc
*.prj
*.cmd_log
Workshop1/TopModul.vhd
Workshop1/TopModul_envsettings.html
Workshop1/TopModul_summary.html
Workshop1/webtalk.log
Workshop1/usage_statistics_webtalk.html
Workshop1/Wire_envsettings.html
Workshop1/Wire_summary.html
Workshop1/Workshop1.gise
Workshop1/Workshop1.xise
*.html
Workshop1/iseconfig/Workshop1.projectmgr
